

// [This code below is only for visual to style guide layout]
 
// ••• NOT CONSIDER FOR ORIGINAL THEME KIWI ••• //

/* -------------------------------------------------------------------------
 Colors  
---------------------------------------------------------------------------- */

//Main

.kw-brand-primary-bg       .sg-color-swatch {background: @kw-brand-primary;}
.kw-brand-secondary-bg     .sg-color-swatch {background: @kw-brand-secondary;}
.kw-brand-complementary-bg .sg-color-swatch {background: @kw-brand-complementary;}

//Secundary colors

.kw-danger-bg  .sg-color-swatch {background: @kw-brand-danger;}
.kw-success-bg .sg-color-swatch {background: @kw-brand-success;}
.kw-info-bg    .sg-color-swatch {background: @kw-brand-info;}
.kw-warning-bg .sg-color-swatch {background: @kw-brand-warning;}
.kw-movile-bg  .sg-color-swatch {background: @kw-brand-movile;}

//Neutrals color palette

.kw-neutral-dark-bg    .sg-color-swatch {background: @kw-neutral-dark;}
.kw-neutral-blue-bg    .sg-color-swatch {background: @kw-neutral-blue;}
.kw-neutral-medium-bg  .sg-color-swatch {background: @kw-neutral-medium;}
.kw-neutral-light-bg   .sg-color-swatch {background: @kw-neutral-light;}


//

.kw-stg-h1, .kw-stg-h2, .kw-stg-h3{
	color: #000;
}

.kw-stg-normal{
	font-weight: normal;
}